<a href="https://colab.research.google.com/github/SludgeDanny/Probabilidad-y-Estad-stica/blob/main/Unidad1/Paractica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practica 3
##T**ablas de frecuencias**
##Alumno: Daniel Rosales Reyes

In [1]:
#basado en el LIBRO estadisrica para la administración pagina 12
#creamos una lista vacia que representa la edad de 100 peronas
import random
edades = []
#Hacemos un ciclo para generar 100 nummros aleatorios que representan la edad de las personas
for i in range(100):
  #generamos un numero aleatorio con la función randint y lo guardamos en la variable numero_aleatorio
  numero_aleatorio = random.randint(18, 70)
  #Agregamos el numero aleatorio a la lista de valores
  edades.append(numero_aleatorio)
print(edades)

[44, 65, 22, 55, 25, 42, 19, 54, 36, 53, 44, 29, 27, 65, 67, 42, 22, 57, 25, 66, 47, 44, 61, 61, 42, 40, 44, 61, 31, 62, 66, 60, 44, 50, 60, 34, 20, 21, 38, 23, 38, 68, 20, 42, 25, 68, 67, 54, 47, 59, 22, 20, 35, 62, 53, 56, 34, 57, 41, 40, 44, 42, 43, 61, 63, 58, 31, 38, 70, 18, 61, 20, 19, 21, 60, 28, 51, 61, 69, 36, 70, 56, 65, 70, 57, 45, 43, 19, 32, 32, 42, 19, 39, 36, 20, 50, 39, 30, 41, 37]

In [2]:
import pandas as pd

In [4]:
#Crear un Dataframe de pandas con los números aleatorios -
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    44
1    65
2    22
3    55
4    25

In [6]:
#Calcular la tabla e distribución de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by='Edad')

#Imprimir la tabla de distribución de frecuencias
print("Tabla de Distribución de Frecuencias:")
tabla_frecuencias

Tabla de Distribución de Frecuencias:

    Edad  Frecuencia
37    18           1
4     19           4
3     20           5
25    21           2
12    22           3
34    23           1
6     25           3
30    27           1
39    28           1
32    29           1
43    30           1
22    31           2
13    32           2
23    34           2
35    35           1
5     36           3
44    37           1
8     38           3
14    39           2
20    40           2
29    41           2
1     42           6
15    43           2
0     44           6
41    45           1
19    47           2
24    50           2
40    51           1
18    53           2
17    54           2
31    55           1
27    56           2
9     57           3
38    58           1
33    59           1
10    60           3
2     61           6
21    62           2
36    63           1
11    65           3
28    66           2
16    67           2
26    68           2
42    69           1
7     70           3

In [7]:
tabla_frecuencias['Frec Relativa'] = tabla_frecuencias['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
37    18           1           0.01
4     19           4           0.04
3     20           5           0.05
25    21           2           0.02
12    22           3           0.03
34    23           1           0.01
6     25           3           0.03
30    27           1           0.01
39    28           1           0.01
32    29           1           0.01
43    30           1           0.01
22    31           2           0.02
13    32           2           0.02
23    34           2           0.02
35    35           1           0.01
5     36           3           0.03
44    37           1           0.01
8     38           3           0.03
14    39           2           0.02
20    40           2           0.02
29    41           2           0.02
1     42           6           0.06
15    43           2           0.02
0     44           6           0.06
41    45           1           0.01
19    47           2           0.02
24    50           2           0.02
40    51           1           0.01
18    53           2           0.02
17    54           2           0.02
31    55           1           0.01
27    56           2           0.02
9     57           3           0.03
38    58           1           0.01
33    59           1           0.01
10    60           3           0.03
2     61           6           0.06
21    62           2           0.02
36    63           1           0.01
11    65           3           0.03
28    66           2           0.02
16    67           2           0.02
26    68           2           0.02
42    69           1           0.01
7     70           3           0.03

In [8]:
tabla_frecuencias['Frec Porcentual'] = tabla_frecuencias['Frecuencia'] / 100 * 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
37    18           1           0.01              1.0
4     19           4           0.04              4.0
3     20           5           0.05              5.0
25    21           2           0.02              2.0
12    22           3           0.03              3.0
34    23           1           0.01              1.0
6     25           3           0.03              3.0
30    27           1           0.01              1.0
39    28           1           0.01              1.0
32    29           1           0.01              1.0
43    30           1           0.01              1.0
22    31           2           0.02              2.0
13    32           2           0.02              2.0
23    34           2           0.02              2.0
35    35           1           0.01              1.0
5     36           3           0.03              3.0
44    37           1           0.01              1.0
8     38           3           0.03              3.0
14    39           2           0.02              2.0
20    40           2           0.02              2.0
29    41           2           0.02              2.0
1     42           6           0.06              6.0
15    43           2           0.02              2.0
0     44           6           0.06              6.0
41    45           1           0.01              1.0
19    47           2           0.02              2.0
24    50           2           0.02              2.0
40    51           1           0.01              1.0
18    53           2           0.02              2.0
17    54           2           0.02              2.0
31    55           1           0.01              1.0
27    56           2           0.02              2.0
9     57           3           0.03              3.0
38    58           1           0.01              1.0
33    59           1           0.01              1.0
10    60           3           0.03              3.0
2     61           6           0.06              6.0
21    62           2           0.02              2.0
36    63           1           0.01              1.0
11    65           3           0.03              3.0
28    66           2           0.02              2.0
16    67           2           0.02              2.0
26    68           2           0.02              2.0
42    69           1           0.01              1.0
7     70           3           0.03              3.0

In [9]:
tabla_frecuencias['Frec Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
37    18           1           0.01              1.0               1
4     19           4           0.04              4.0               5
3     20           5           0.05              5.0              10
25    21           2           0.02              2.0              12
12    22           3           0.03              3.0              15
34    23           1           0.01              1.0              16
6     25           3           0.03              3.0              19
30    27           1           0.01              1.0              20
39    28           1           0.01              1.0              21
32    29           1           0.01              1.0              22
43    30           1           0.01              1.0              23
22    31           2           0.02              2.0              25
13    32           2           0.02              2.0              27
23    34           2           0.02              2.0              29
35    35           1           0.01              1.0              30
5     36           3           0.03              3.0              33
44    37           1           0.01              1.0              34
8     38           3           0.03              3.0              37
14    39           2           0.02              2.0              39
20    40           2           0.02              2.0              41
29    41           2           0.02              2.0              43
1     42           6           0.06              6.0              49
15    43           2           0.02              2.0              51
0     44           6           0.06              6.0              57
41    45           1           0.01              1.0              58
19    47           2           0.02              2.0              60
24    50           2           0.02              2.0              62
40    51           1           0.01              1.0              63
18    53           2           0.02              2.0              65
17    54           2           0.02              2.0              67
31    55           1           0.01              1.0              68
27    56           2           0.02              2.0              70
9     57           3           0.03              3.0              73
38    58           1           0.01              1.0              74
33    59           1           0.01              1.0              75
10    60           3           0.03              3.0              78
2     61           6           0.06              6.0              84
21    62           2           0.02              2.0              86
36    63           1           0.01              1.0              87
11    65           3           0.03              3.0              90
28    66           2           0.02              2.0              92
16    67           2           0.02              2.0              94
26    68           2           0.02              2.0              96
42    69           1           0.01              1.0              97
7     70           3           0.03              3.0             100